body {
    font-family: 'Montserrat', sans-serif;
}

nav li {
	display: inline;
	margin: 0 0 0 50px;
    padding: 40px;
    
}

nav a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.caixa {
	width: 100%;
	background: linear-gradient(#990066, #ff99cc);
	padding: 50px 0;
}


.imagem__decoracao {
	display: inline-block;
    float: left;
	margin-left: 15%;
    padding: 30px;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #ff99cc);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

footer {
	text-align: center;
	padding: 40px 0;
}

.copyright {
	color: #ff99cc;
	font-size: 13px;
	margin: 20px 0 0;
}