body {
    font-family: 'Montserrat', sans-serif;
}

nav li {
	display: inline;
	margin: 30px;
    padding: 40px;
    
}

nav a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.caixa {
	width: 100%;
	background: linear-gradient(#990066, #ff99cc);
	padding: 50px 0;
}


.imagem__decoracao {
	display: inline-block;
    float: left;
	margin-left: 15%;
    padding: 30px;
}

.mapa {
	display: block;
	background: linear-gradient(#FEFEFE, #ff99cc);
}

footer {
	text-align: center;
	padding: 40px 0;
}

.copyright {
	color: #ff99cc;
	font-size: 13px;
	margin: 20px 0 0;
}